<div class="search">
  <form ng-submit="vm.getTracks()">
    <div class="input-group search__input">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="vm.search">
      <span class="input-group-btn">
        <button class="btn search__input-btn" type="submit">Go!</button>
      </span>
    </div>
  </form>
  <div class="search__results">
    <ul>
      <li ng-repeat="track in vm.tracks">
        <a href="#" ng-click="vm.showTrack(track.id)">{{ track.title }}</a>
      </li>
    </ul>
<!--     <ul>
      <li ng-repeat="search in vm.searches track by $index">
        <a href="#" ng-click="">{{ search }}</a>
      </li>
    </ul> -->

  </div>

  <div class="search__results__buttons" ng-if="vm.tracks && vm.tracks.length > 0">
    <button type="button" class="btn btn-default"  ng-click="vm.nextTracks()">
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Next
    </button>

    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">
         <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default">
         <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
