<div class="search">
  <form ng-submit="vm.getTracks()">
    <div class="input-group search__input">
      <input type="text" class="form-control" placeholder="Search for..." ng-model="::vm.search">
      <span class="input-group-btn">
        <button class="btn search__input-btn" type="submit">Go!</button>
      </span>
    </div>
  </form>
  <div class="search__results">
  <!-- tracks results -->
    <ul class="list-unstyled" ng-class="{'tiles': vm.showTiles}">
      <li ng-repeat="track in vm.tracks">
        <a href="#" ng-click="vm.showTrack(track.id)">
          <img ng-if="vm.showTiles" src="{{ ::track.artwork_url }}" alt="{{ ::track.title }}" />
          {{ ::track.title }}
        </a>
      </li>
    </ul>

    <!-- last searches -->
    <div class="text-center" ng-if="!vm.isSearching">
      <p class="text-primary">Last searches</p>
      <ul class="list-unstyled">
        <li ng-repeat="search in vm.searches track by $index">
          <a href="#" ng-click="vm.showRecentSearch(search)">{{ ::search }}</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="search__results__buttons" ng-if="vm.tracks && vm.tracks.length > 0">
    <button type="button" class="btn btn-default"  ng-click="vm.nextTracks()">
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Next
    </button>

    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" ng-click="vm.setShowTiles(false)">
         <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default" ng-click="vm.setShowTiles(true)">
         <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
