.search {

}

.search__input {

}

.search__input-btn {
  background-color: #F50;
}

.search__results {
  height: 200px;
  text-align: left;
  padding: 10px;

  ul {
    margin: 5px 0;
    padding: 0;

    &.tiles {
      text-align: center;
      li {
        display: inline-block;
        margin: 8px 16px;
        a {
          width: 67px;
        }
      }

    }

    li {
      padding: 5px 0;

      a {
        color: #333;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  .search__results__buttons {

  }
}



